<h1>Snapshots</h1>

<ul>
  <%= for snapshot <- snapshots do %>
      <li><%= snapshot %></li>
  <% end %>
</ul>

<p>Bigfoot's location is <strong>lng:<%= where_is_bigfoot.lng %> and lat: <%= where_is_bigfoot.lat %></strong></p>
